.receipt-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.receipt-popup {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  max-height: 90vh;
  overflow-y: auto;
  width: 90%;
  max-width: 30%;
}
